#laser-animation-body {
  background-color: #000;
  height: 400px;
  display: grid;
  place-items: center;
  overflow: hidden;
  perspective: 800px;
}
#laser-animation-body *:not(:empty) {
  transform-style: preserve-3d;
}

.laser-scene {
  position: relative;
  transform: rotateX(-30deg) rotateY(30deg);
}

.laser {
  position: absolute;
  inset: -50vh -1px;
  background-color: coral;
  box-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red, 0 0 25px red, 0 0 40px red;
  transform-origin: top;
  animation: laser 10s infinite linear, laserScale 10s infinite step-end;
}
@keyframes laser {
  0% {
    opacity: 0;
    translate: 0 0 -120px;
  }
  10% {
    opacity: 1;
    translate: 0 0 -120px;
  }
  70% {
    opacity: 1;
    translate: 0 0 120px;
  }
  80%, 100% {
    opacity: 0;
    translate: 0 0 120px;
  }
}
@keyframes laserScale {
  0%, 60% {
    scale: 1;
  }
  25%, 55% {
    scale: 0.5;
    animation-timing-function: ease-in-out;
  }
}

.panel {
  position: absolute;
  width: 400vh;
  height: 120px;
  background: white;
  top: -60px;
  left: -120px;
  rotate: x 90deg;
  animation: panel 10s infinite ease-in-out;
}
@keyframes panel {
  0%, 55%, 100% {
    translate: 120px;
  }
  10% {
    translate: 0px;
    animation-timing-function: step-end;
  }
}

.sparks {
  position: absolute;
}
.sparks i {
  position: absolute;
  inset: -16px;
  background-color: hsl(var(--hue), 100%, 50%);
  transform: translateZ(var(--tz));
  animation: spark 10s var(--delay) infinite ease-out backwards;
}
@keyframes spark {
  0%, 25% {
    opacity: 1;
    transform: translate3d(0, 0, var(--tz)) rotateX(var(--rx)) rotateY(var(--ry));
    scale: 0;
  }
  30%, 100% {
    opacity: 0;
    transform: translate3d(var(--tx), var(--ty), var(--tz)) rotateX(var(--rx)) rotateY(var(--ry));
    scale: 1;
  }
}
.sparks i:nth-child(1) {
  --tz: -59px;
  --delay: 0.025s;
  --tx: 11px;
  --ty: -117px;
  --hue: -7;
  --rx: 62deg;
  --ry: 57deg;
}
.sparks i:nth-child(2) {
  --tz: -58px;
  --delay: 0.05s;
  --tx: 10px;
  --ty: -152px;
  --hue: 28;
  --rx: -137deg;
  --ry: -248deg;
}
.sparks i:nth-child(3) {
  --tz: -57px;
  --delay: 0.075s;
  --tx: 46px;
  --ty: -113px;
  --hue: 14;
  --rx: -316deg;
  --ry: 139deg;
}
.sparks i:nth-child(4) {
  --tz: -56px;
  --delay: 0.1s;
  --tx: 16px;
  --ty: -130px;
  --hue: 10;
  --rx: -217deg;
  --ry: 307deg;
}
.sparks i:nth-child(5) {
  --tz: -55px;
  --delay: 0.125s;
  --tx: -19px;
  --ty: -121px;
  --hue: 13;
  --rx: 71deg;
  --ry: -299deg;
}
.sparks i:nth-child(6) {
  --tz: -54px;
  --delay: 0.15s;
  --tx: -6px;
  --ty: -64px;
  --hue: 15;
  --rx: -311deg;
  --ry: 231deg;
}
.sparks i:nth-child(7) {
  --tz: -53px;
  --delay: 0.175s;
  --tx: -7px;
  --ty: -64px;
  --hue: 24;
  --rx: 154deg;
  --ry: -35deg;
}
.sparks i:nth-child(8) {
  --tz: -52px;
  --delay: 0.2s;
  --tx: -52px;
  --ty: -141px;
  --hue: 18;
  --rx: -15deg;
  --ry: 257deg;
}
.sparks i:nth-child(9) {
  --tz: -51px;
  --delay: 0.225s;
  --tx: 60px;
  --ty: -127px;
  --hue: 23;
  --rx: 210deg;
  --ry: 347deg;
}
.sparks i:nth-child(10) {
  --tz: -50px;
  --delay: 0.25s;
  --tx: 30px;
  --ty: -89px;
  --hue: -7;
  --rx: -44deg;
  --ry: 296deg;
}
.sparks i:nth-child(11) {
  --tz: -49px;
  --delay: 0.275s;
  --tx: 8px;
  --ty: -72px;
  --hue: -8;
  --rx: 192deg;
  --ry: -42deg;
}
.sparks i:nth-child(12) {
  --tz: -48px;
  --delay: 0.3s;
  --tx: 18px;
  --ty: -109px;
  --hue: -1;
  --rx: -185deg;
  --ry: -128deg;
}
.sparks i:nth-child(13) {
  --tz: -47px;
  --delay: 0.325s;
  --tx: 22px;
  --ty: -175px;
  --hue: -8;
  --rx: -131deg;
  --ry: -288deg;
}
.sparks i:nth-child(14) {
  --tz: -46px;
  --delay: 0.35s;
  --tx: -25px;
  --ty: -67px;
  --hue: 35;
  --rx: -223deg;
  --ry: -190deg;
}
.sparks i:nth-child(15) {
  --tz: -45px;
  --delay: 0.375s;
  --tx: 9px;
  --ty: -84px;
  --hue: -5;
  --rx: -224deg;
  --ry: -266deg;
}
.sparks i:nth-child(16) {
  --tz: -44px;
  --delay: 0.4s;
  --tx: -34px;
  --ty: -162px;
  --hue: -1;
  --rx: 92deg;
  --ry: 343deg;
}
.sparks i:nth-child(17) {
  --tz: -43px;
  --delay: 0.425s;
  --tx: 30px;
  --ty: -85px;
  --hue: 25;
  --rx: -73deg;
  --ry: -17deg;
}
.sparks i:nth-child(18) {
  --tz: -42px;
  --delay: 0.45s;
  --tx: 39px;
  --ty: -73px;
  --hue: 18;
  --rx: 328deg;
  --ry: -141deg;
}
.sparks i:nth-child(19) {
  --tz: -41px;
  --delay: 0.475s;
  --tx: 6px;
  --ty: -65px;
  --hue: 32;
  --rx: -250deg;
  --ry: 329deg;
}
.sparks i:nth-child(20) {
  --tz: -40px;
  --delay: 0.5s;
  --tx: 51px;
  --ty: -70px;
  --hue: -3;
  --rx: -279deg;
  --ry: -251deg;
}
.sparks i:nth-child(21) {
  --tz: -39px;
  --delay: 0.525s;
  --tx: -55px;
  --ty: -114px;
  --hue: -9;
  --rx: 207deg;
  --ry: 335deg;
}
.sparks i:nth-child(22) {
  --tz: -38px;
  --delay: 0.55s;
  --tx: 31px;
  --ty: -158px;
  --hue: 22;
  --rx: 314deg;
  --ry: -328deg;
}
.sparks i:nth-child(23) {
  --tz: -37px;
  --delay: 0.575s;
  --tx: 48px;
  --ty: -82px;
  --hue: 32;
  --rx: 158deg;
  --ry: 96deg;
}
.sparks i:nth-child(24) {
  --tz: -36px;
  --delay: 0.6s;
  --tx: 17px;
  --ty: -178px;
  --hue: -2;
  --rx: 251deg;
  --ry: 227deg;
}
.sparks i:nth-child(25) {
  --tz: -35px;
  --delay: 0.625s;
  --tx: 16px;
  --ty: -178px;
  --hue: 2;
  --rx: -86deg;
  --ry: 335deg;
}
.sparks i:nth-child(26) {
  --tz: -34px;
  --delay: 0.65s;
  --tx: -15px;
  --ty: -79px;
  --hue: 35;
  --rx: 117deg;
  --ry: -36deg;
}
.sparks i:nth-child(27) {
  --tz: -33px;
  --delay: 0.675s;
  --tx: 5px;
  --ty: -102px;
  --hue: -5;
  --rx: -160deg;
  --ry: 294deg;
}
.sparks i:nth-child(28) {
  --tz: -32px;
  --delay: 0.7s;
  --tx: -2px;
  --ty: -147px;
  --hue: -1;
  --rx: -87deg;
  --ry: -275deg;
}
.sparks i:nth-child(29) {
  --tz: -31px;
  --delay: 0.725s;
  --tx: -43px;
  --ty: -167px;
  --hue: 33;
  --rx: 31deg;
  --ry: 210deg;
}
.sparks i:nth-child(30) {
  --tz: -30px;
  --delay: 0.75s;
  --tx: 28px;
  --ty: -122px;
  --hue: 34;
  --rx: -266deg;
  --ry: 95deg;
}
.sparks i:nth-child(31) {
  --tz: -29px;
  --delay: 0.775s;
  --tx: -20px;
  --ty: -124px;
  --hue: 22;
  --rx: -44deg;
  --ry: 38deg;
}
.sparks i:nth-child(32) {
  --tz: -28px;
  --delay: 0.8s;
  --tx: -8px;
  --ty: -97px;
  --hue: 1;
  --rx: -153deg;
  --ry: 17deg;
}
.sparks i:nth-child(33) {
  --tz: -27px;
  --delay: 0.825s;
  --tx: 2px;
  --ty: -143px;
  --hue: 7;
  --rx: -127deg;
  --ry: -305deg;
}
.sparks i:nth-child(34) {
  --tz: -26px;
  --delay: 0.85s;
  --tx: 32px;
  --ty: -63px;
  --hue: 34;
  --rx: -157deg;
  --ry: -224deg;
}
.sparks i:nth-child(35) {
  --tz: -25px;
  --delay: 0.875s;
  --tx: -14px;
  --ty: -154px;
  --hue: 31;
  --rx: -6deg;
  --ry: 301deg;
}
.sparks i:nth-child(36) {
  --tz: -24px;
  --delay: 0.9s;
  --tx: -47px;
  --ty: -176px;
  --hue: 6;
  --rx: -227deg;
  --ry: 91deg;
}
.sparks i:nth-child(37) {
  --tz: -23px;
  --delay: 0.925s;
  --tx: 6px;
  --ty: -122px;
  --hue: 21;
  --rx: 341deg;
  --ry: -323deg;
}
.sparks i:nth-child(38) {
  --tz: -22px;
  --delay: 0.95s;
  --tx: 58px;
  --ty: -62px;
  --hue: 7;
  --rx: -21deg;
  --ry: 3deg;
}
.sparks i:nth-child(39) {
  --tz: -21px;
  --delay: 0.975s;
  --tx: 17px;
  --ty: -123px;
  --hue: 34;
  --rx: 351deg;
  --ry: 342deg;
}
.sparks i:nth-child(40) {
  --tz: -20px;
  --delay: 1s;
  --tx: 59px;
  --ty: -63px;
  --hue: 35;
  --rx: 264deg;
  --ry: -141deg;
}
.sparks i:nth-child(41) {
  --tz: -19px;
  --delay: 1.025s;
  --tx: -15px;
  --ty: -78px;
  --hue: 38;
  --rx: 75deg;
  --ry: -317deg;
}
.sparks i:nth-child(42) {
  --tz: -18px;
  --delay: 1.05s;
  --tx: -59px;
  --ty: -60px;
  --hue: 5;
  --rx: 4deg;
  --ry: -19deg;
}
.sparks i:nth-child(43) {
  --tz: -17px;
  --delay: 1.075s;
  --tx: 49px;
  --ty: -157px;
  --hue: -7;
  --rx: -2deg;
  --ry: -67deg;
}
.sparks i:nth-child(44) {
  --tz: -16px;
  --delay: 1.1s;
  --tx: -47px;
  --ty: -177px;
  --hue: 6;
  --rx: -160deg;
  --ry: 171deg;
}
.sparks i:nth-child(45) {
  --tz: -15px;
  --delay: 1.125s;
  --tx: -58px;
  --ty: -175px;
  --hue: 24;
  --rx: -169deg;
  --ry: 340deg;
}
.sparks i:nth-child(46) {
  --tz: -14px;
  --delay: 1.15s;
  --tx: -21px;
  --ty: -170px;
  --hue: 17;
  --rx: 69deg;
  --ry: -354deg;
}
.sparks i:nth-child(47) {
  --tz: -13px;
  --delay: 1.175s;
  --tx: 43px;
  --ty: -135px;
  --hue: 31;
  --rx: -294deg;
  --ry: 84deg;
}
.sparks i:nth-child(48) {
  --tz: -12px;
  --delay: 1.2s;
  --tx: -55px;
  --ty: -175px;
  --hue: 33;
  --rx: -49deg;
  --ry: -246deg;
}
.sparks i:nth-child(49) {
  --tz: -11px;
  --delay: 1.225s;
  --tx: 12px;
  --ty: -65px;
  --hue: -2;
  --rx: -19deg;
  --ry: -237deg;
}
.sparks i:nth-child(50) {
  --tz: -10px;
  --delay: 1.25s;
  --tx: -13px;
  --ty: -106px;
  --hue: 35;
  --rx: -79deg;
  --ry: -49deg;
}
.sparks i:nth-child(51) {
  --tz: -9px;
  --delay: 1.275s;
  --tx: 59px;
  --ty: -168px;
  --hue: 38;
  --rx: 116deg;
  --ry: 313deg;
}
.sparks i:nth-child(52) {
  --tz: -8px;
  --delay: 1.3s;
  --tx: -49px;
  --ty: -138px;
  --hue: 13;
  --rx: -259deg;
  --ry: -318deg;
}
.sparks i:nth-child(53) {
  --tz: -7px;
  --delay: 1.325s;
  --tx: -2px;
  --ty: -156px;
  --hue: 35;
  --rx: -315deg;
  --ry: -263deg;
}
.sparks i:nth-child(54) {
  --tz: -6px;
  --delay: 1.35s;
  --tx: 55px;
  --ty: -174px;
  --hue: 36;
  --rx: 253deg;
  --ry: 68deg;
}
.sparks i:nth-child(55) {
  --tz: -5px;
  --delay: 1.375s;
  --tx: 15px;
  --ty: -64px;
  --hue: 26;
  --rx: -93deg;
  --ry: 19deg;
}
.sparks i:nth-child(56) {
  --tz: -4px;
  --delay: 1.4s;
  --tx: -20px;
  --ty: -66px;
  --hue: 36;
  --rx: -197deg;
  --ry: 176deg;
}
.sparks i:nth-child(57) {
  --tz: -3px;
  --delay: 1.425s;
  --tx: 24px;
  --ty: -117px;
  --hue: 1;
  --rx: -120deg;
  --ry: -206deg;
}
.sparks i:nth-child(58) {
  --tz: -2px;
  --delay: 1.45s;
  --tx: 38px;
  --ty: -91px;
  --hue: 13;
  --rx: 317deg;
  --ry: -357deg;
}
.sparks i:nth-child(59) {
  --tz: -1px;
  --delay: 1.475s;
  --tx: -45px;
  --ty: -145px;
  --hue: 27;
  --rx: -156deg;
  --ry: 271deg;
}
.sparks i:nth-child(60) {
  --tz: 0px;
  --delay: 1.5s;
  --tx: 59px;
  --ty: -169px;
  --hue: 10;
  --rx: 203deg;
  --ry: 12deg;
}
.sparks i:nth-child(61) {
  --tz: 1px;
  --delay: 1.525s;
  --tx: 1px;
  --ty: -91px;
  --hue: -6;
  --rx: -185deg;
  --ry: 3deg;
}
.sparks i:nth-child(62) {
  --tz: 2px;
  --delay: 1.55s;
  --tx: -44px;
  --ty: -159px;
  --hue: 19;
  --rx: 32deg;
  --ry: 225deg;
}
.sparks i:nth-child(63) {
  --tz: 3px;
  --delay: 1.575s;
  --tx: 57px;
  --ty: -173px;
  --hue: 21;
  --rx: 29deg;
  --ry: -176deg;
}
.sparks i:nth-child(64) {
  --tz: 4px;
  --delay: 1.6s;
  --tx: 8px;
  --ty: -140px;
  --hue: 25;
  --rx: -138deg;
  --ry: -59deg;
}
.sparks i:nth-child(65) {
  --tz: 5px;
  --delay: 1.625s;
  --tx: 32px;
  --ty: -101px;
  --hue: 15;
  --rx: -284deg;
  --ry: 63deg;
}
.sparks i:nth-child(66) {
  --tz: 6px;
  --delay: 1.65s;
  --tx: 31px;
  --ty: -96px;
  --hue: -5;
  --rx: 60deg;
  --ry: 240deg;
}
.sparks i:nth-child(67) {
  --tz: 7px;
  --delay: 1.675s;
  --tx: 1px;
  --ty: -70px;
  --hue: 1;
  --rx: -87deg;
  --ry: -27deg;
}
.sparks i:nth-child(68) {
  --tz: 8px;
  --delay: 1.7s;
  --tx: -40px;
  --ty: -136px;
  --hue: 3;
  --rx: 193deg;
  --ry: -40deg;
}
.sparks i:nth-child(69) {
  --tz: 9px;
  --delay: 1.725s;
  --tx: 53px;
  --ty: -102px;
  --hue: 18;
  --rx: 265deg;
  --ry: -338deg;
}
.sparks i:nth-child(70) {
  --tz: 10px;
  --delay: 1.75s;
  --tx: 0px;
  --ty: -88px;
  --hue: 4;
  --rx: 352deg;
  --ry: 13deg;
}
.sparks i:nth-child(71) {
  --tz: 11px;
  --delay: 1.775s;
  --tx: -33px;
  --ty: -94px;
  --hue: 36;
  --rx: 11deg;
  --ry: -70deg;
}
.sparks i:nth-child(72) {
  --tz: 12px;
  --delay: 1.8s;
  --tx: 14px;
  --ty: -173px;
  --hue: -2;
  --rx: -284deg;
  --ry: 309deg;
}
.sparks i:nth-child(73) {
  --tz: 13px;
  --delay: 1.825s;
  --tx: -22px;
  --ty: -91px;
  --hue: 31;
  --rx: -294deg;
  --ry: -32deg;
}
.sparks i:nth-child(74) {
  --tz: 14px;
  --delay: 1.85s;
  --tx: -5px;
  --ty: -108px;
  --hue: 7;
  --rx: -145deg;
  --ry: 298deg;
}
.sparks i:nth-child(75) {
  --tz: 15px;
  --delay: 1.875s;
  --tx: -34px;
  --ty: -140px;
  --hue: 4;
  --rx: -90deg;
  --ry: 106deg;
}
.sparks i:nth-child(76) {
  --tz: 16px;
  --delay: 1.9s;
  --tx: 12px;
  --ty: -163px;
  --hue: 27;
  --rx: -123deg;
  --ry: 65deg;
}
.sparks i:nth-child(77) {
  --tz: 17px;
  --delay: 1.925s;
  --tx: -32px;
  --ty: -155px;
  --hue: 26;
  --rx: 316deg;
  --ry: -206deg;
}
.sparks i:nth-child(78) {
  --tz: 18px;
  --delay: 1.95s;
  --tx: 37px;
  --ty: -103px;
  --hue: 4;
  --rx: -153deg;
  --ry: -90deg;
}
.sparks i:nth-child(79) {
  --tz: 19px;
  --delay: 1.975s;
  --tx: 29px;
  --ty: -135px;
  --hue: 40;
  --rx: 212deg;
  --ry: -57deg;
}
.sparks i:nth-child(80) {
  --tz: 20px;
  --delay: 2s;
  --tx: 14px;
  --ty: -148px;
  --hue: -1;
  --rx: -168deg;
  --ry: -327deg;
}
.sparks i:nth-child(81) {
  --tz: 21px;
  --delay: 2.025s;
  --tx: 20px;
  --ty: -148px;
  --hue: 22;
  --rx: -343deg;
  --ry: -348deg;
}
.sparks i:nth-child(82) {
  --tz: 22px;
  --delay: 2.05s;
  --tx: 16px;
  --ty: -168px;
  --hue: 3;
  --rx: -292deg;
  --ry: -269deg;
}
.sparks i:nth-child(83) {
  --tz: 23px;
  --delay: 2.075s;
  --tx: 42px;
  --ty: -76px;
  --hue: 27;
  --rx: 57deg;
  --ry: -102deg;
}
.sparks i:nth-child(84) {
  --tz: 24px;
  --delay: 2.1s;
  --tx: 59px;
  --ty: -149px;
  --hue: 34;
  --rx: -126deg;
  --ry: -77deg;
}
.sparks i:nth-child(85) {
  --tz: 25px;
  --delay: 2.125s;
  --tx: -3px;
  --ty: -169px;
  --hue: 9;
  --rx: 1deg;
  --ry: -224deg;
}
.sparks i:nth-child(86) {
  --tz: 26px;
  --delay: 2.15s;
  --tx: 35px;
  --ty: -151px;
  --hue: 22;
  --rx: -314deg;
  --ry: -358deg;
}
.sparks i:nth-child(87) {
  --tz: 27px;
  --delay: 2.175s;
  --tx: -15px;
  --ty: -123px;
  --hue: 1;
  --rx: 247deg;
  --ry: 329deg;
}
.sparks i:nth-child(88) {
  --tz: 28px;
  --delay: 2.2s;
  --tx: -3px;
  --ty: -122px;
  --hue: 21;
  --rx: -6deg;
  --ry: -349deg;
}
.sparks i:nth-child(89) {
  --tz: 29px;
  --delay: 2.225s;
  --tx: 43px;
  --ty: -154px;
  --hue: -2;
  --rx: 277deg;
  --ry: 38deg;
}
.sparks i:nth-child(90) {
  --tz: 30px;
  --delay: 2.25s;
  --tx: -22px;
  --ty: -118px;
  --hue: 4;
  --rx: -226deg;
  --ry: -281deg;
}
.sparks i:nth-child(91) {
  --tz: 31px;
  --delay: 2.275s;
  --tx: 15px;
  --ty: -83px;
  --hue: 3;
  --rx: 159deg;
  --ry: 298deg;
}
.sparks i:nth-child(92) {
  --tz: 32px;
  --delay: 2.3s;
  --tx: -14px;
  --ty: -164px;
  --hue: 32;
  --rx: -111deg;
  --ry: 173deg;
}
.sparks i:nth-child(93) {
  --tz: 33px;
  --delay: 2.325s;
  --tx: 9px;
  --ty: -100px;
  --hue: 39;
  --rx: 310deg;
  --ry: 358deg;
}
.sparks i:nth-child(94) {
  --tz: 34px;
  --delay: 2.35s;
  --tx: -21px;
  --ty: -162px;
  --hue: 37;
  --rx: -35deg;
  --ry: -192deg;
}
.sparks i:nth-child(95) {
  --tz: 35px;
  --delay: 2.375s;
  --tx: -50px;
  --ty: -178px;
  --hue: 21;
  --rx: -10deg;
  --ry: 157deg;
}
.sparks i:nth-child(96) {
  --tz: 36px;
  --delay: 2.4s;
  --tx: -22px;
  --ty: -93px;
  --hue: 1;
  --rx: 102deg;
  --ry: 312deg;
}
.sparks i:nth-child(97) {
  --tz: 37px;
  --delay: 2.425s;
  --tx: 60px;
  --ty: -101px;
  --hue: 25;
  --rx: 106deg;
  --ry: -326deg;
}
.sparks i:nth-child(98) {
  --tz: 38px;
  --delay: 2.45s;
  --tx: -42px;
  --ty: -164px;
  --hue: 35;
  --rx: 294deg;
  --ry: -276deg;
}
.sparks i:nth-child(99) {
  --tz: 39px;
  --delay: 2.475s;
  --tx: -2px;
  --ty: -161px;
  --hue: 30;
  --rx: -217deg;
  --ry: 146deg;
}
.sparks i:nth-child(100) {
  --tz: 40px;
  --delay: 2.5s;
  --tx: 8px;
  --ty: -104px;
  --hue: 38;
  --rx: -217deg;
  --ry: -7deg;
}
.sparks i:nth-child(101) {
  --tz: 41px;
  --delay: 2.525s;
  --tx: -26px;
  --ty: -155px;
  --hue: 16;
  --rx: 115deg;
  --ry: 188deg;
}
.sparks i:nth-child(102) {
  --tz: 42px;
  --delay: 2.55s;
  --tx: 8px;
  --ty: -177px;
  --hue: 27;
  --rx: -130deg;
  --ry: -148deg;
}
.sparks i:nth-child(103) {
  --tz: 43px;
  --delay: 2.575s;
  --tx: -48px;
  --ty: -135px;
  --hue: 36;
  --rx: 282deg;
  --ry: 331deg;
}
.sparks i:nth-child(104) {
  --tz: 44px;
  --delay: 2.6s;
  --tx: 33px;
  --ty: -134px;
  --hue: 12;
  --rx: 341deg;
  --ry: 179deg;
}
.sparks i:nth-child(105) {
  --tz: 45px;
  --delay: 2.625s;
  --tx: -2px;
  --ty: -162px;
  --hue: -2;
  --rx: -309deg;
  --ry: -262deg;
}
.sparks i:nth-child(106) {
  --tz: 46px;
  --delay: 2.65s;
  --tx: 44px;
  --ty: -65px;
  --hue: 36;
  --rx: 164deg;
  --ry: -136deg;
}
.sparks i:nth-child(107) {
  --tz: 47px;
  --delay: 2.675s;
  --tx: -35px;
  --ty: -168px;
  --hue: 37;
  --rx: 140deg;
  --ry: -254deg;
}
.sparks i:nth-child(108) {
  --tz: 48px;
  --delay: 2.7s;
  --tx: 17px;
  --ty: -82px;
  --hue: -1;
  --rx: 102deg;
  --ry: -196deg;
}
.sparks i:nth-child(109) {
  --tz: 49px;
  --delay: 2.725s;
  --tx: -17px;
  --ty: -174px;
  --hue: -6;
  --rx: -90deg;
  --ry: 307deg;
}
.sparks i:nth-child(110) {
  --tz: 50px;
  --delay: 2.75s;
  --tx: -45px;
  --ty: -93px;
  --hue: 25;
  --rx: -231deg;
  --ry: -132deg;
}
.sparks i:nth-child(111) {
  --tz: 51px;
  --delay: 2.775s;
  --tx: 50px;
  --ty: -149px;
  --hue: -7;
  --rx: -178deg;
  --ry: 0deg;
}
.sparks i:nth-child(112) {
  --tz: 52px;
  --delay: 2.8s;
  --tx: 30px;
  --ty: -104px;
  --hue: 23;
  --rx: 89deg;
  --ry: -85deg;
}
.sparks i:nth-child(113) {
  --tz: 53px;
  --delay: 2.825s;
  --tx: 56px;
  --ty: -100px;
  --hue: 29;
  --rx: -230deg;
  --ry: 162deg;
}
.sparks i:nth-child(114) {
  --tz: 54px;
  --delay: 2.85s;
  --tx: 23px;
  --ty: -154px;
  --hue: 28;
  --rx: 9deg;
  --ry: 356deg;
}
.sparks i:nth-child(115) {
  --tz: 55px;
  --delay: 2.875s;
  --tx: 37px;
  --ty: -61px;
  --hue: -6;
  --rx: -128deg;
  --ry: 69deg;
}
.sparks i:nth-child(116) {
  --tz: 56px;
  --delay: 2.9s;
  --tx: 1px;
  --ty: -164px;
  --hue: 37;
  --rx: 172deg;
  --ry: 109deg;
}
.sparks i:nth-child(117) {
  --tz: 57px;
  --delay: 2.925s;
  --tx: -8px;
  --ty: -128px;
  --hue: 10;
  --rx: 118deg;
  --ry: 122deg;
}
.sparks i:nth-child(118) {
  --tz: 58px;
  --delay: 2.95s;
  --tx: -22px;
  --ty: -90px;
  --hue: 5;
  --rx: 267deg;
  --ry: 296deg;
}
.sparks i:nth-child(119) {
  --tz: 59px;
  --delay: 2.975s;
  --tx: -46px;
  --ty: -173px;
  --hue: 23;
  --rx: -173deg;
  --ry: -39deg;
}
.sparks i:nth-child(120) {
  --tz: 60px;
  --delay: 3s;
  --tx: -5px;
  --ty: -125px;
  --hue: 27;
  --rx: 160deg;
  --ry: -239deg;
}

.drop {
  position: absolute;
  width: 120px;
  height: 120px;
  background: white;
  top: -60px;
  left: -120px;
  rotate: x 90deg;
  animation: drop 10s infinite step-end;
}
@keyframes drop {
  0%, 100% {
    translate: 0 100vh;
  }
  55% {
    translate: 0 0;
    animation-timing-function: ease-in;
  }
}/*# sourceMappingURL=styles-laser-animation.css.map */